name: Install shared software dependencies

inputs:
    # See 'os-matrix.json' for supported 'os' and 'target' options.
    os:
        description: "The current operating system"
        required: true
        type: string
    target:
        description: "Specified target for rust toolchain"
        type: string

    # See 'server-versions.json' for supported 'server-version' options.
    server-version:
        description: "Server version to install"
        type: string

    github-token:
        description: "GITHUB_TOKEN, GitHub App installation access token"
        type: string

runs:
    using: "composite"
    steps:
        - name: Install software dependencies for macOS
          shell: bash
          if: "${{ inputs.os == 'macos' }}"
          run: |
              brew update
              brew install openssl coreutils

        - name: Install software dependencies for Ubuntu GNU
          shell: bash
          if: "${{ inputs.os == 'ubuntu' }}"
          run: |
              sudo apt update -y
              sudo apt install -y git gcc pkg-config openssl libssl-dev

        - name: Install software dependencies for Amazon-Linux
          shell: bash
          if: "${{ inputs.os == 'amazon-linux' }}"
          run: |
              yum install -y gcc pkgconfig openssl openssl-devel which curl gettext libasan tar --allowerasing

        # In Windows runners, the Valkey servers run within WSL.
        # These can be accessed via the WSL bash shell.
        # See <https://github.com/Vampire/setup-wsl> for more details.
        - name: Install software dependencies for Windows
          if: "${{ inputs.os == 'windows' }}"
          uses: Vampire/setup-wsl@v6
          with:
              distribution: Ubuntu-22.04
              additional-packages: python3 build-essential git pkg-config libssl-dev

        - name: Install Rust toolchain
          uses: ./.github/workflows/install-rust
          with:
              target: ${{ inputs.target }}
              github-token: ${{ inputs.github-token }}

        - name: Install server
          if: "${{ inputs.server-version }}"
          uses: ./.github/workflows/install-server
          with:
              os: ${{ inputs.os }}
              target: ${{ inputs.target }}
              server-version: ${{ inputs.server-version }}

        - name: Install zig
          if: ${{ contains(inputs.target, 'linux-gnu') }}
          uses: ./.github/workflows/install-zig
