name: Install Server

inputs:
    os:
        description: "The current operating system"
        required: true
        type: string
        options:
            - ubuntu
            - amazon-linux
            - macos
            - windows
    target:
        description: "Specified target for rust toolchain"
        required: true
        type: string
        options:
            - x86_64-unknown-linux-gnu
            - aarch64-unknown-linux-gnu
            - x86_64-apple-darwin
            - aarch64-apple-darwin
            - x86_64-pc-windows-msvc
            - aarch64-pc-windows-msvc
    server-version:
        description: "Server version to install"
        required: true
        type: string

env:
    CARGO_TERM_COLOR: always

runs:
    using: "composite"
    steps:
        - name: Set environment variables
          shell: bash
          env:
              OS: ${{ inputs.os }}
              SERVER_VERSION: ${{ inputs.server-version }}
          run: |
              echo "OS=$OS" >> $GITHUB_ENV
              echo "SERVER_VERSION=$SERVER_VERSION" >> $GITHUB_ENV

              # Environment variables must be passed into WSL
              # explicitly using the WSLENV environment variable.
              if [[ "$OS" == 'windows' ]]; then
                  echo "WSLENV=SERVER_VERSION" >> $GITHUB_ENV
              fi

        - name: Checkout Valkey source code
          shell: ${{ inputs.os == 'windows' && 'wsl-bash {0}' || 'bash' }}
          run: |
              if [[ -d valkey ]]; then
                  echo 'Removing existing valkey directory...'
                  rm -fR valkey
              fi
              echo "Cloning and checking out Valkey $SERVER_VERSION"
              git clone --depth 1 --branch "$SERVER_VERSION" --single-branch 'https://github.com/valkey-io/valkey.git'

        - name: Determine Valkey source version and paths (Non-Windows)
          if: ${{ inputs.os != 'windows' }}
          shell: bash
          run: |
              source_version=$(cd 'valkey/src' && grep -E 'VALKEY_VERSION|REDIS_VERSION' 'version.h' | grep -oE '[0-9]+\.[0-9]\.[0-9]' | head -1)
              source_cli='valkey/src/valkey-cli'
              source_server='valkey/src/valkey-server'

              echo "SOURCE_VERSION=$source_version" >> $GITHUB_ENV
              echo "SOURCE_CLI=$source_cli"         >> $GITHUB_ENV
              echo "SOURCE_SERVER=$source_server"   >> $GITHUB_ENV

        - name: Determine Valkey source version and paths (Windows)
          if: ${{ inputs.os == 'windows' }}
          shell: pwsh
          run: |
              $source_version = wsl bash -c "cd valkey/src && grep -E 'VALKEY_VERSION|REDIS_VERSION' version.h | grep -oE '[0-9]+\.[0-9]\.[0-9]' | head -1"

              # Use wslpath -w to convert Linux paths within WSL to Windows paths.
              $source_cli = wsl wslpath -w 'valkey/src/valkey-cli'
              $source_server = wsl wslpath -w 'valkey/src/valkey-server'

              "SOURCE_VERSION=$source_version" | Out-File -FilePath $env:GITHUB_ENV -Append
              "SOURCE_CLI=$source_cli"         | Out-File -FilePath $env:GITHUB_ENV -Append
              "SOURCE_SERVER=$source_server"   | Out-File -FilePath $env:GITHUB_ENV -Append

        - name: Cache compiled Valkey binaries
          id: cache-valkey
          uses: actions/cache@v4
          with:
              path: |
                  ${{ env.SOURCE_SERVER }}
                  ${{ env.SOURCE_CLI }}
              key: valkey-${{ env.SOURCE_VERSION }}-${{ inputs.target }}

        - name: Install cached Valkey binaries
          if: ${{ steps.cache-valkey.outputs.cache-hit == 'true' }}
          shell: ${{ inputs.os == 'windows' && 'wsl-bash {0}' || 'bash' }}
          run: |
              # Copy the cached binaries local bin.
              sudo cp 'valkey/src/valkey-server' 'valkey/src/valkey-cli' '/usr/local/bin'

              # Create symbolic links for redis-server and redis-cli for backward compatibility.
              sudo ln -sf '/usr/local/bin/valkey-server' '/usr/local/bin/redis-server'
              sudo ln -sf '/usr/local/bin/valkey-cli' '/usr/local/bin/redis-cli'

              # Add local bin to PATH.
              echo 'export PATH=/usr/local/bin:$PATH' >> ~/.bash_profile

        - name: Build and install Valkey binaries
          if: ${{ steps.cache-valkey.outputs.cache-hit != 'true' }}
          shell: ${{ inputs.os == 'windows' && 'wsl-bash {0}' || 'bash' }}
          run: |
              cd valkey
              make BUILD_TLS=yes
              sudo make install
              echo 'export PATH=/usr/local/bin:$PATH' >> ~/.bash_profile
